<html>
    <head>
    <meta charset="UTF-8">
    <meta name="description" content="En este post...">
    </head>

    <body>
        <h1>Estoy probando todas las plantillas</h1>
        <p>El nombre del usuario es: {{nombre_persona}} {{apellido_persona}}</p>
        <p>La hora y fecha actual es : {{hora_actual.date}}</p>
        <p><strong>Temas de prueba:</strong></p>
        <p>
            <ul>
            {% if temas %}
                {% for tema in temas %}

                    <li>{{tema}}</li>

                {% endfor %}
            {% else %}
                <p>No existen elementos para mostrar</p>
            {% endif %}
            </ul>
        </p>
        <h2>Funciona todo correcto?</h2>
        <p>Funciona todo excelente</p>
    </body>
    <ol>
        <li>De esta manera quedara todo bien ordenado </li>
    </ol>
</html>