.general {
    font: normal 8mm serif; 
    color: black; 
    background: url("D:/Usuario/Videos/purple_marble.png") fixed;
    }
    .cursiva {
    font: bold 8mm serif;
    }
    .crece {
    background: yellow;
    border: 2px solid blue;
    box-shadow: 5px 5px 5px;
    margin: 5;
    }